*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
    background:white;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
/*Estilos para el encabezado*/
.navbar{
    font-size: 18px;
    font-weight: bold;
}
.form-inline .form-control{
    color:#00000080;
    font-weight: bold;
    font-size: 18px;
}
.nav-underline a{
    color:#00000080;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-width:576px){
    .no-text span{
    font-size: 14px;
    }
    .nav-scroller .no-text{
    font-size: 14px;
    }
    .dropdown-menu .no-text{
        font-size: 12px;
    }
}
/*Fin de Estilos para el encabezado*/

/*Slider Promociones*/
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider li{
    list-style: none;
}
.slider img{
    width: 100vw;
    height: 35vh;
}
.carousel-indicators{
    z-index: 1;
}

/*Fin de Slider Promociones*/

/*Slider Seleccion Mascota*/
.titulomascota {
    font-size: 27px;
    text-align:center;
    margin: 25px;
}
.card-mascota .card-deck {
    width: 90%;
    text-align: justify;
    margin: auto;
}
@media (min-width: 576px){
.card-deck {
    margin-right: 2rem;
    margin-left: 2rem;
}
}
.card-mascota .card img{
    width: 100%;
    height: 100%;
    padding: 1rem;
}
/*Fin de Seleccion Mascota*/

/*Slider Seleccion Marca*/
.titulomarca {
    font-size: 27px;
    text-align:center;
    margin: 25px;
}
.tab-content img{
    margin: 5px 30px 5px 30px;
    width: 130px;
    height: 120px;

}
.select-marc{
    width: 42%;
    margin: auto;
    margin-bottom: 5rem;
}
@media screen and (max-width:576px){
    .select-marc{
        width: 60%;
    }
}
@media screen and (max-width:1200px){
    .select-marc{
        width: 75%;
    }
}
/*Fin de Seleccion Marca*/

/*Inicio Nosotros*/
.nosotros{
    margin: auto;
    width: 65vw;
    display: block;
}
.nosotros-titulo{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 25px 0 25px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nosotros-parrafo{
    font-weight: bold;
    font-size: 24px;
    width: 70%;
    margin-bottom: 9px;
}
.nosotros p{
    font-size: 18px;
}
.nosotros img{
    display: block;
    margin: auto;
    max-width: 400px;
    margin-bottom: 25px;
    margin-top: 25px;
}
@media screen and (max-width:715px){
    .nosotros img{
        max-width: 250px;
    }
}
/*Fin de Nosotros*/

/*Inicio FQ*/
.faq{
    margin: auto;
    width: 65vw;
    display: block;
}
.faq-titulo{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 25px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.faq-parrafo{
    font-weight: bold;
    font-size: 20px;
    width: 70%;
    margin-bottom: 25px;
    margin-top: 50px;
}
.faq p{
    font-size: 18px;
}
.faq-final{
    padding-bottom: 65px;
}
.sangria{
    text-indent: 40px
}
/*Fin de FQ*/

/*Inicio Footer*/
footer{
    width: 100%;
    background:lightslategrey;
    color: #fff;
}
.container-full{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}
.colum1 .reclamaciones{
    display: block;
    margin: auto;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
}
.colum2 h1{
    font-size: 22px;
}
.row {
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
}
.colum3 {
    max-width: 400px;
}
.colum3 h1{
    font-size: 22px;
}
.row2 {
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin: 10px 20px 0 20px;
}
.container-footer {
    width: 100%;
    background: #101010;
}
.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.copyright{
    color: #c7c7c7;
}
.copyright a{
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}
@media screen and (max-width:1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
}
@media screen and (max-width:715px){
    .colum3, .colum2{
        margin-top: 40px;
    }
}
.margincompra{
    margin-bottom: 300px;
}
/*Fin de Footer*/

/*Inicio Menú navegacion*/
.list-group{
    width: 0vw;
    z-index: 0;
}
@media screen and (max-width:715px){
    .list-group{
    width: 100vw;
    }
}
/*Fin Menú navegacion*/

/*Inicio mapas*/
.list-group{
    width: 0vw;
    z-index: 0;
}
@media screen and (max-width:715px){
    .list-group{
    width: 100vw;
    }
}
/*Fin mapas*/

/*Inicio registro*/
.form-box{
    width: 450px;
    height: 650px;
    position: relative;
    margin: 6% auto;
    background:azure;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 300px;
    margin: 35px auto;
    position: relative;
}
.button-box .ing-pos{
    padding-left: 40px;
}
.button-box .reg-pos{
    padding-left: 38px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #5e5342;
    font-weight: bold;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    border-bottom: 2px solid #5e5342;
    padding-bottom: 5px;
    transition: 0.5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    position: absolute;
    width: 430px;
    height: 550px;
    transition: 0.5s;
}
.principal-login{
    height: 500px;
    align-items: center;
}
.principal-login img{
    margin-left: 50px;
}
.principal-login a{
    color: #5e5342;
    display: block;
    margin: auto;
    font-weight: bold;
}
.input-field{
    width: 100%;
    height: 50px;
    padding: 6px 8px 6px 8px;
    margin: 5px 0;
    outline: none;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    width: 100%;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    bottom: 10px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #1a73e8;
    color: #fff;
    font-weight: bold;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.chech-box{
    margin: 3px 10px 0px 0;
}
.chech-box span{
    color: #777;
    font-size: 14px;
    bottom: 100px;
    position: absolute;
}
#login{
    left: 8px;
}
#register{
    left: 550px;
}
/*Fin registro*/

/*Inicio Alerta*/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
/*Fin Alerta*/

/*Inicio Cards*/
.card-body img{
    width: 220px;
}
/*Fin Cards*/